*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#about-section{
    margin: 5rem 10rem 5rem 10rem;
}

#hi{
    font-weight: 900;
}

#myName{
    color: var(--primary-color);
    font-size: 5rem;
    text-decoration: underline;
    font-weight: bold;
}

#oneLiner{
    font-weight: 800;
    font-size: 3.5rem;
}

#me{
    font-weight: 600;
    width: 55%;
    margin-top: 1rem;
}

#companyName{
    color: var(--primary-color);
    font-weight: 700;
}

#btn{
    padding: 0.8rem 2rem;
    border-radius: 0.4rem;
    border: solid var(--primary-color) 0.1rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.2rem;
    margin: 4rem 0;
}

#btn:hover{
    cursor: pointer;
    background-color: var(--hover);
    transition: 0.3s;
    color: var(--secondary-color);
}

#about-detail{
    margin-top: 5rem;
}

#article-heading{
    display: flex;
    margin-bottom: 2rem;
}

.heading-number{
    color: var(--primary-color);
}

.heading{
    font-size: 1.8rem;
}

#article-heading hr{
    margin-left: 2rem;
    width: 25%;
    height: 1px;
    margin-top: 1.8rem;
    background-color: var(--primary-color);
    border: none;
}

.article-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}

figure img{
    border-radius: 0.5rem;
    width: 70%;
    height: 70%;
}