*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    padding: 1rem 2rem;
    background-color: #f5f9fc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    margin: 0;
    box-shadow: 1px 1px 5px var(--primary-color);
}

#logo{
    height: 3rem;
    width: 3rem;
}

nav{
    display: flex;
    padding: 0 0 0 2rem;
}

li{
    list-style: none;
    padding: 0 0 0 2rem;
    font-weight: 500;
}

ul li{
    display: inline;
}

.menu-number{
    color: var(--primary-color);
}

.menu-item:hover{
    cursor: pointer;
    color: var(--primary-color);
}

#resume{
    padding: 0.5rem 01rem;
    border-radius: 0.4rem;
    border: solid var(--primary-color) 0.1rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 500;
}

#resume:hover{
    cursor: pointer;
    background-color: var(--hover);
    transition: 0.3s;
    color: var(--secondary-color);
}

.profile{
    color: var(--primary-color);
    margin-left: 3rem;
    position: fixed;
    top: 20rem;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem 0.1rem;
}

#github:hover, #linkedin:hover, #mail:hover{
    cursor: pointer;
}

.email h4{
    transform: rotate(90deg);
    right: 5rem;
    top: 20rem;
}

.line-2{
    background-color: var(--primary-color);
    position: fixed;
    top: 27rem;
    border-left: 0.1rem solid var(--primary-color);
    width: 0.1rem;
    height: 30vh;
    left: 3.8rem;
}

.mobile-navbar-btn{
    display: none;
    background: transparent;
    cursor: pointer;
}

.mobile-nav-icon{
    width: 4rem;
    height: 4rem;
}

.mobile-nav-icon[name='close']{
    display: none;
}

/* Media queries */

@media (max-width: 62em) {
    .mobile-navbar-btn{
        display: block;
        z-index: 999;
        color: var(--primary-color);
    }

    header{
        position: relative;
    }

    nav{
        display: none;
        width: 100%;
        height: 100vh;
        background: var(--secondary-color);
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        transform: translateX(100%);
        transition: all 0.5s linear;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .navbar-list{
        display: flex;
        flex-direction: column;
    }

    .list-link{
        margin: 1rem;
        text-align: center;
    }

    .active nav{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name='close']{
        display: block;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name='menu']{
        display: none;
    }
}

@media (max-width: 35em){
    header{
        padding: 1rem 1rem;
    }
}