*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#exp-section{
    margin: 3rem 10rem 5rem 10rem;
}

hr{
    margin-left: 2rem;
    width: 25%;
    height: 1px;
    margin-top: 1rem;
    background-color: var(--primary-color);
    border: none;
}

#exp-content{
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 5rem;
    background-color: aqua;
}

/* #company-btns{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
} */

.btn{
    width: 100%;
    border: none;
    height: 2.5rem;
    /* background-color: white; */
}

.btn:hover{
    cursor: pointer;
    background-color: var(--primary-color);
    transition: 0.5s;
}