@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;1,400&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root{
  --primary-color: #60b0f4;
  --secondary-color: #f5f9fc;
  --hover: #b2dafc;
  --spacing: 20px;
  --purple: #fff;
  --tab-height: 40px;
}

a{
  color: var(--primary-color);
  text-decoration: none;
}
